

Flask==3.1.0
fsspec==2024.10.0
geographiclib==2.0
geopy==2.4.1


gradio==5.8.0
gradio_client==1.5.1
gunicorn==23.0.0


jsonschema==4.23.0
jsonschema-specifications==2024.10.1


requests==2.32.3

