<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results for {{ place_name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>VISIT AND VIBE</h1>
         <h2>                          </h2>
        <h3>Explore Nearby Attractions</h3>
        <form method="POST" action="/search">
            <input type="text" name="place_name" placeholder="Enter a Place Name" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <script>
window.embeddedChatbotConfig = {
chatbotId: "QKiWaUxXFbeAtt-P2OAub",
domain: "www.chatbase.co"
}
</script>
<script
src="https://www.chatbase.co/embed.min.js"
chatbotId="QKiWaUxXFbeAtt-P2OAub"
domain="www.chatbase.co"
defer>
</script>
</body>
</html>
