<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visit and vibe</title>
</head>
<body>
    <div class="container">
        <h1>Explore Nearby Attractions</h1>
        <form method="POST" action="/search">
            <input type="text" name="place_name" placeholder="Enter a Place Name" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <script>
window.embeddedChatbotConfig = {
chatbotId: "QKiWaUxXFbeAtt-P2OAub",
domain: "www.chatbase.co"
}
</script>
<script
src="https://www.chatbase.co/embed.min.js"
chatbotId="QKiWaUxXFbeAtt-P2OAub"
domain="www.chatbase.co"
defer>
</script>
</body>
</html>
